*{
    margin: 0px;

}

body{
    background-color: white;
    background-size: cover;
}

#boxcalc{
    width: 20%;
    height: 100vh;
    background-color: #ffb914;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 78%;
    position: relative;
}

#boxcalc, input{
    border-radius: 15px;
    
}

.title{
    color: white;
}

#resultado{
    max-width: 300px;
    background-color: #ffb914  ;
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    display: none;
    position: absolute;
    margin-left: 0px;
}

.input{
    width: 100%;
    margin-bottom: 5px;
    display: block;
    height: 40px;
    text-align: center;
}



@media screen and (max-width: 500px) {

    #boxcalc{
    background-size: cover;
    }
}