*{
    margin: 0px;

}

body{
    background-color: white;
    background-size: cover;
}

#container{
    
}

#conteudo{
    display: block;
    overflow: hidden;
    word-spacing: 0px;
    box-sizing: border-box;
    
}

#nocalc{
    margin-top: 100px;
    margin-left: 100px;
}

#nocalc h1 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
  }
  
#nocalc img {
    max-width: 100%;
    width: 700px;
    
  }

#boxcalc{
    width: 20%;
    height: 100vh;
    background-color: #fc7f03;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: right;
    position: relative;
    margin-top: 0px;
}

#boxcalc, input{
    border-radius: 15px;
    
}

.title{
    color: white;
}

#resultado{
    max-width: 300px;
    padding: 20px;
    display: none;
}

.input{
    width: 100%;
    margin-bottom: 5px;
    display: block;
    height: 40px;
    text-align: center;
}
 #calcular{
    width: 20%;
    margin-bottom: 5px;
    display: block;
    height: 40px;
    text-align: center;
    border-radius: 15px;
 }
 #calcular:hover {
     background-color: #ffc300;
 }

@media screen and (max-width: 500px) {

    #boxcalc{
    background-size: cover;
    }
}