*{
    margin: 0px;

}

body{
    background-color: #8a0015;
    background-size: cover;
}

#boxcalc{
    max-width: 300px;
    margin-top: 200px;
    margin-left: 100px;
    background-color: #fc913a;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
}

.title{
    color: white;;
}

#resultado{
    max-width: 300px;
    background-color: #ffb914  ;
    display: inline-block;
    margin-left: 60%;
    padding: 20px;
    border-radius: 15px;
   /* display: none;*/
}

.input{
    width: 100%;
    margin-bottom: 5px;
    display: block;
}

@media screen and (max-width: 500px) {

    #boxcalc{
    background-size: cover;
    }
}